<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
<h3>Account Registration</h3>
<form action="">
    <label for="name">Firstname</label>
    <input type="text" name="name" id="name">
    <br>
    <br>
    <label for="name">Surname</label>
    <input type="text" name="name" id="name">
    <br>
    <br>
    <label for="name">e-mail</label>
    <input type="text" name="email" placeholder="example@example.com" id="email">
    <br>
    <br>
    <br>
    <br>
    <label for="name">Username</label>
    <input type="text" name="name" id="name">
    <br>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <br>
    <br>
    <label for="password">Confirm Password</label>
    <input type="password" name="password" id="password">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>